
@import "tailwindcss";
/* RESET DEFAULT VITE STYLES */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* IMPORTANT: body must NOT be flex */
body {
  background-color: #020617; /* gray-950 */
}
